*~
*.iml
*.ipr
*.iws
bin/
*build/
.gradle/
.settings/
.classpath
.project
.directory/
.idea/
out/
.tmp
.sass-cache
obfuscated.js
node_modules
app/bower_components/
dist/
npm-debug.log
app/main.html
classes/
